.label{
    font: 15px solid;
    text-align: left;
    
    
}
#h1{
    color: rgb(70, 110, 241);
    text-align: center;
    
}

.enclosed{
    height: 900px;
    align-items: center;
    width: 30%;
    margin: 0 35%;
    
    
}
.input{
    width:90%;
    height: 25px;
    margin: 10px 10px;
    
}
.valid{
    border: 3px solid rgb(177, 76, 76);
}

.btn{
    width:90%;
   
    margin:10px 10px;
   
   
   
}
#main{
    background-color: rgb(255, 255, 255);
    
}
.p{
    text-align: center;
}
.is-invalid{
    border: 1px solid rgb(241, 149, 149);
}
.dis{
    display: none;
}
.small{
    color:rgb(212, 26, 26);
}
.example-full-width {
    width: 100%;
  }
  .example-form-field {
    width:100%
  }