<div class="form">
    <div class="nav">
        <img src="assets/Robosoft_logo_horizontal.png" alt="" class="robosoft-img-nav">
    </div>
    <div class="rectangle">
        <div class="rec">
            <form action="">
                <div class="input-form">
                    <div class="form-group">

                        <h2 class="h2">
                            Check your email, We have sent you a password
                        </h2>
                    </div>
                   
                    <div class="form-group">
                        <button class="btn" routerLink="">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>