.nav{
    background-color: white;
    width: 100%;
    height: 7%;
}
.robosoft-img-nav{
    width: 140px;
    height: 80%;
    margin-left: 5%;
    /* margin-top: 0.7%; */
}
.form {
    height: 100vh;
    width: 100%;
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  }

  .rectangle {
    /* height: 385px; */
    height: 40%;
    width: 33%;
    border-radius: 5%;
    background-color: #FFFFFF;
    margin: auto;
    
    text-align: center;
  }
  .input-form{
    margin-top:50%;
  }
 
  .mat-form-field {
    width: 63%;
  }
  .btn {
    height: 49px;
    width: 30%;
    border-radius: 50px;
    background-color: 
    #D92756;
    color: white;
    border: none;
    
  }
  .h2 {
    
    color: #000000;
    margin-top: 19px;
   padding-top:25px ;
    text-align: center;
  }
  a{
    text-decoration: none;
     color:inherit;
     
  }
  .a{
    margin-top: 10px;
  }
  .dis{
    display: none;
}
.small{
  margin-left: -180px;
  margin-top: -130px;
  color:rgb(212, 26, 26);
}

@media (max-width:820px){
  .rectangle {
    /* height: 385px; */
    height: 50%;
    width: 70%;
   
  }
}