<div id="main">
  <h1 id="h1">Forms</h1>
  <form [formGroup]="registration">
    
    <label class="label"> Name</label><br>
    <input formControlName="name" type="text" placeholder="Enter your name" name="name"  class="input" >
    
    <br>
    <label class="label">Pass</label><br>
    <input type="password" formControlName="password"placeholder="Enterpass" name="password" class="input"><br>
    <label class="label">confirmpass</label><br>
    <input type="password" formControlName="confirmpassword" placeholder="confirmpass" name="confirm" class="input">
    
    <br>
    <button type="submit" class="btn" >Submit</button>







    <router-outlet></router-outlet>
  </form>
  </div>