<div class="full">
    <div class="form">
        <div class="heading">
            <h2>Add/Remove Super Admins</h2>
        </div>
        <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" routerLink="/homescreen" mat-dialog-close></mat-icon>
    
            </div>

        <div class="top">
            <div class="names">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="names">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Employee Code</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="names2">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Mail-ID</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <button class="actbutton">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
            </button>

        </div>
        <hr>
        <div class="bottom" *ngIf="">
            <div class="names">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="names">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Employee Code</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="names2">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Mail-ID</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <button class="actbutton2">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
            </button>
            <button class="actbutton3">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
            </button>

        </div>
        <div class="bottombtn">
            <button class="btn" routerLink="/homescreen" mat-dialog-close>Update</button>
            <button class="btn" routerLink="/homescreen" mat-dialog-close >Cancel</button>

        </div>


    </div>
</div>