
#h1{
    color: rgb(70, 110, 241);
    text-align: center;
    
}

.enclosed{
    
    
    height: 1300px;
    width: 30%;
    margin: 0 35%;
    
    
}
.input{
    /* width:10px; */
   display: block;
    
    
}
.valid{
    border: 3px solid rgb(177, 76, 76);
}

.btn{
    width:90%;
  
    margin:10px 10px;
  
}
#main{
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
    
}
.inputR{
    font: 5px;
    margin: 8px 8px;
}
span{
    font: 5px
}

.dis{
    display: none;
}
.small{
    color:rgb(212, 26, 26);
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 20 px;
  }

  /* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   */
  .example-full-width {
    width: 100%;
  }
  .example-form-field {
    width: 100%;
  }
  