<div id="main">
    <div class="enclosed">
        <div class="heading">

            <h1 id="h1">Create Account</h1>
        </div>

        <div class="form">

            <form [formGroup]="login">
                <div class="form-group">

                    <label class="label">Name*</label><br>
                    <input formControlName="name" type="text" placeholder="Enter your Name" name="name" class="input"
                        [class.is-invalid]="login.get('name')?.invalid && login.get('name')?.touched">

                    <small [class.dis]="login.get('name')?.valid || login.get('name')?.untouched" class="small">Name is
                        required</small>
                </div>
                <br>
                <div class="form-group">

                    <label class="label">Email*</label><br>
                    <input formControlName="email" type="email" placeholder="Enter your email" name="email"
                        class="input" [class.is-invalid]="login.get('email')?.invalid && login.get('email')?.touched">

                    <small [class.dis]="login.get('email')?.valid || login.get('email')?.untouched"
                        class="small">EmailId is required</small>
                </div>
                <div class="form-group">
                    <label class="label">Mobile Number*</label><br>
                    <input formControlName="phone" type="tel" placeholder="Enter your number" name="phone"
                    class="input">
                    
                    <small [class.dis]="login.get('phone')?.valid || login.get('phone')?.untouched"
                    class="small">Phone-Number is required is required</small>
                    
                    <div formArrayName="phones" *ngFor="let phone of phones['controls']; let i=index">
                        <label for="" class="label">Alternate-Number</label>
                        <input type="tel" class="input" [formControlName]="i"
                        placeholder="Enter your Altername number">
                        
                    </div>
                    <button *ngIf="toDisplay" type="button" (click)="add()" class="btn">Add number</button>

                </div>

                <br>

                <div class="form-group">

                    <label class="label">Age*</label><br>
                    <input type="number" formControlName="age" placeholder="your Age" name="Age" class="input"
                        [class.is-invalid]="login.get('age')?.invalid && login.get('age')?.touched">
                    <div *ngIf="login.get('age')?.invalid && login.get('age')?.touched">
                        <small class="small" *ngIf="login.get('age')?.errors?.['required']">Please Enter your age
                        </small>
                        <small class="small" *ngIf="login.get('age')?.errors?.['min']">Age must be 18 -80 </small>
                        <small class="small" *ngIf="login.get('age')?.errors?.['max']">Age must be 18 -80 </small>
                       
                    </div>


                </div>
                <div class="form-group">

                    <label class="label">Gender</label><br>
                    <div class="age">
                        <input type="radio" class="inputR" name="age" value="male"><span class="agespan">Male</span>
                    </div>
                    <div class="age">
                        <input type="radio" class="inputR" name="age" value="female"><span class="agespan">Female</span>
                    </div>
                    <div class="age">
                        <input type="radio" class="inputR" name="age" value="Others"><span class="agespan">Others</span>
                    </div>
                </div>
                <div formGroupName="address">
                    <label class="label">
                        <h3>Address</h3>
                    </label>
                    <div class="form-group">

                        <label class="label">City</label><br>
                        <input type="text" formControlName="city" placeholder="City" name="city" class="input" 
                            pattern="[A-Za-z\s]"><br>
                    </div>
                    <div class="form-group">

                        <label class="label">State</label><br>
                        <input type="text" formControlName="state" placeholder="State" name="state" class="input"
                             pattern="[A-Za-z\s]"><br>
                    </div>
                    <div class="form-group">

                        <label class="label">Postal-Code</label><br>
                        <input type="number" formControlName="code" placeholder="Postal-Code" name="code" class="input"
                             pattern="[0-9]{6}"><br>
                    </div>


                </div>

                <div class="login">
                    <button type="button" class="btn" (click)="loginfunction()">Signin</button>
                </div>



            </form>
        </div>
    </div>
</div>